# Assignment 5

In [100]:
import pandas as pd

In [101]:
lifeExpectancy = pd.read_csv("lifeExpectancyAtBirth.csv",sep=",")

In [102]:
lifeExpectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [103]:
YearFilter = lifeExpectancy["Period"] == 2019
Dim1Filter = lifeExpectancy["Dim1"].str.fullmatch("Both sexes")

In [104]:
lifeExpectancy.loc[YearFilter & Dim1Filter,["Location","First Tooltip"]].nlargest(30, 'First Tooltip')

                                               Location  First Tooltip
997                                               Japan          84.26
1897                                        Switzerland          83.45
1573                                  Republic of Korea          83.30
1753                                          Singapore          83.22
1837                                              Spain          83.22
505                                              Cyprus          83.14
84                                            Australia          83.04
973                                               Italy          82.97
961                                              Israel          82.62
1441                                             Norway          82.62
709                                              France          82.48
1165                                         Luxembourg          82.41
1885                                             Sweden          82.40
889                                             Iceland          82.33
360                                              Canada          82.24
1393                                        New Zealand          81.96
1237                                              Malta          81.89
949                                             Ireland          81.84
1381                                        Netherlands          81.79
757                                             Germany          81.72
96                                              Austria          81.65
697                                             Finland          81.61
1549                                           Portugal          81.57
180                                             Belgium          81.42
2065  United Kingdom of Great Britain and Northern I...          81.40
553                                             Denmark          81.32
1777                                           Slovenia          81.31
781                                              Greece          81.10
1057                                             Kuwait          80.97
457                                          Costa Rica          80.85

In [105]:
lifeExpectancy.loc[YearFilter & Dim1Filter,["Location","First Tooltip"]].nsmallest(5, 'First Tooltip')

                      Location  First Tooltip
1117                   Lesotho          50.75
373   Central African Republic          53.10
1801                   Somalia          56.47
661                   Eswatini          57.73
1333                Mozambique          58.14